<div style="background-color: rgb(209, 204, 202);" class="col-md-2 order-md-1">
  <h3>Learn the Basics</h3>
  <ul>
    <li><a style="color: black;" href="{% url 'introduction' %}">Introduction</a></li>
    <li><a style="color: black;" href="{% url 'installation' %}">Installation</a></li>
    <li><a style="color: black;" href="{% url 'first_program' %}">First Program</a></li>
    <li><a style="color: black;" href="{% url 'syntax' %}">Python Syntax</a></li>
    <li><a style="color: black;" href="{% url 'variable' %}">Python Variables</a></li>
    <li><a style="color: black;" href="{% url 'data_types' %}">Data types</a></li>
    <li><a style="color: black;" href="{% url 'numbers' %}">Python Numbers</a></li>
    <li><a style="color: black;" href="{% url 'casting' %}">Type Casting</a></li>
    <li><a style="color: black;" href="{% url 'strings' %}">String Literals</a></li>
    <li><a style="color: black;" href="{% url 'booleans' %}">Boolean Values</a></li>
    <li><a style="color: black;" href="{% url 'operators' %}">Python Operators</a></li>
    <li><a style="color: black;" href="{% url 'lists' %}">Python Lists</a></li>
    <li><a style="color: black;" href="{% url 'tuples' %}">Python Tuples</a></li>
    <li><a style="color: black;" href="{% url 'sets' %}">Python Sets</a></li>
    <li><a style="color: black;" href="{% url 'dictionaries' %}">Python dictionaries</a></li>
    <li><a style="color: black;" href="{% url 'if_else' %}">Python If - else</a></li>
  </ul>

  <h3>Learn Advance</h3>
  <ul>
    <li><a style="color: rgb(59, 199, 71);" href="#">Coming soon</a></li>
  </ul>

  <h3>Learn Django</h3>
  <ul>
    <li><a style="color: rgb(59, 199, 71);" href="#">Coming soon</a></li>
  </ul>
</div>
{% block left_menu %}
{% endblock %}