{% extends 'layouts/layout.html' %}
{% block content %}
{% load static %}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div style="padding-left:10px;padding-right: 10px;" class="container-fluid">
    <div class="row">

      <!-- Left Menu -->
      {% include 'layouts/left_menu.html' %}
      <!-- Left Menu ends -->

      <div class="col-md-7 order-md-2">

        <h1 class="display-4">Dictionaries</h1>
        <br><br><br><br><hr>
        <h1 style="color: green;">Coming soon...</h1>
        <hr>

      </div>

      <!-- Right advertise -->
      {% include 'layouts/right_advertise.html' %}
      <!-- Right advertise ends -->

    </div>
  </div>
</main>
{% endblock %}